/** Constants **/
$pageWidth = 320px;
$gutterWidth = 16px;
$containerWidth = $pageWidth - 2*$gutterWidth;
$previewWidth = 288px;
$previewHeight = 0.979 * $previewWidth;
$headerHeight = 44px;

/* colors */
$bgColor = #ccc;
$textColor = #333;
$navBgColor = #333;
if light($navBgColor) {
  $iconColor = invert(rgb($bgColor));
} else {
  $iconColor = $bgColor;
}

$highlightColor = #36e;
$borderColor = #999;
$contentBgColor = #fff;
$infoBgColor = #ebebeb;

/** Mixins **/
borderRadiusBottom($pixels) {
  -webkit-border-bottom-right-radius: $pixels;
  -webkit-border-bottom-left-radius: $pixels;
  -moz-border-radius-bottomright: $pixels;
  -moz-border-radius-bottomleft: $pixels;
  border-bottom-right-radius: $pixels;
  border-bottom-left-radius: $pixels;
}

/** Extendable classes **/

.clearfix {
  *zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container-width {
  width: $containerWidth;
}


/** General elements **/
html {overflow-y: scroll;}

* {
	font-family: 'helvetica neue', sans-serif;
  font-size: 16px;
}

body {
  background: $navBgColor;
}

.wrapper {
  width: 100%;
  background: $bgColor;
  padding-top: $gutterWidth;
  min-height: $previewHeight - $headerHeight + $gutterWidth;
}

h1, h2, h3, h4, h5, h6 {
	color: $textColor;
	font-weight: 500;
  margin-top: 0;
  margin-bottom: .75em;
}

h1, h1 i {
  font-size: 24px;
}

h2, h2 i {
  font-size: 21px;
}

h3, h3 i {
  font-size: 18px;
}

a {
	text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $highlightColor;
  }
}

ul { 
	list-style: none; 
}

/** Abstractions **/
.container {
  @extend .container-width
  @extend .clearfix
  margin: auto;
}

.social {
  padding-left: 0;
  margin: auto;
  display: inline-block;
  line-height: $headerHeight;
  /** magic number **/
}

.social__item {
  display: inline-block;
  margin-right: 1em;
}

.social__item:last-child { margin-right: 0; }

.social i {
  color: $iconColor;
}

.icon-mail:hover { color: #f33; }
.icon-twitter:hover { color: #2daae1; }
.icon-github:hover { color: #3e3; }

.btn {
	-moz-box-shadow:  1px 1px 1px #777;
	-webkit-box-shadow:  1px 1px 1px #777;
	box-shadow:  1px 1px 1px #777;
  padding: 4px 4px 4px 4px;
  border: 1px solid #ccc;
	background: #ebebeb;
}

.btn:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 13px;
	margin-left: 1px;
	margin-bottom: -1px;
  margin-right: -1px;
}

.back {
  float: right;
}

.section-title {
}

/** Site header **/
.site-header {
  /** magic number because of ios bar size, how ot fix? **/
  height: $headerHeight;
  background: $navBgColor;
}

.profile {
  float: left;
  /** magic **/
  margin-top: 4px;
  margin-bottom: 4px;
}

.profile__img {
  border: 2px solid $navBgColor;
  /** magic **/
  height: 32px;
  width: 32px;
}

.my-name {
  float: left; 
  display: none;
}

.site-nav {
  display: inline-block;
  float: right;
  /** magic number **/
  line-height: $headerHeight;
}

.site-nav__link, .project-previews__preview {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.site-nav__link {
  height: 100%;
  margin-right: .5em;
  color: $iconColor;
}

.site-nav__link:last-of-type { margin-right: 0; }

.site-nav__link:hover {
  text-decoration: none;
  color: $highlightColor;
}

.site-nav__link.selected, .site-nav__link.selected:visited {
  color: $iconColor;
  /** magic **/
  border-bottom: 9px solid $bgColor;
  padding-bottom: 4px;
}


/** Project previews **/
.project-previews {
  @extend .clearfix;
  margin-left: 0 - $gutterWidth;
}

.project-previews__preview {
  width: $previewWidth;
  border-bottom: 2px solid $borderColor;
  height: $previewHeight;
  margin-left: $gutterWidth;
  margin-bottom: $gutterWidth;
  float: left;
  background: $contentBgColor;
}

.project-previews__preview__img {
  width: 100%;
}


/** Projects **/
.project {
  @extend .container-width;
}

.project__info {
  @extend .clearfix;
  margin-bottom: $gutterWidth;
}

.project__cards__card {
  @extend .clearfix;
  background-color: $infoBgColor;
  display: inline-block;
  margin-bottom: 2*$gutterWidth;
  borderRadiusBottom(8px);
}

.project__cards__card:last-of-type {
  margin-bottom: $gutterWidth;
}

.project__cards__card__img {
  max-width: 100%;
}

.project__cards__card__info {
  padding: $gutterWidth;
  width: $containerWidth - 2*$gutterWidth;
}

/** Footer **/
.site-footer {
  text-align: center;
  background: $navBgColor;
}
