/** Constants **/
$pageWidth = 320px;
$gutterWidth = 1em;
$gutterPercent = 3;
$containerWidth = $pageWidth - 2*$gutterWidth;
$previewWidth = 288px;
$previewHeight = 0.979 * $previewWidth;
$headerHeight = 44px;

/* colors */
$bgColor = #ccc;
$textColor = #333;
$navBgColor = #34c6cd;
if light($textColor) {
  $iconColor = invert(rgb($bgColor));
} else {
  $iconColor = $bgColor;
}

$highlightColor = darken($navBgColor, 30%);
$borderColor = #999;
$contentBgColor = #fff;
$infoBgColor = #ebebeb;

/** Mixins **/
borderRadius($pixels) {
  -webkit-border-radius: $pixels;
  -moz-border-radius: $pixels;
  border-radius: $pixels;
}

borderRadiusTop($pixels) {
  -webkit-border-top-left-radius: $pixels;
  -webkit-border-top-right-radius: $pixels;
  -moz-border-radius-topleft: $pixels;
  -moz-border-radius-topright: $pixels;
  border-top-left-radius: $pixels;
  border-top-right-radius: $pixels;
}

borderRadiusBottom($pixels) {
  -webkit-border-bottom-right-radius: $pixels;
  -webkit-border-bottom-left-radius: $pixels;
  -moz-border-radius-bottomright: $pixels;
  -moz-border-radius-bottomleft: $pixels;
  border-bottom-right-radius: $pixels;
  border-bottom-left-radius: $pixels;
}

borderRadiusRight($pixels) {
  -webkit-border-top-right-radius: $pixels;
  -webkit-border-bottom-right-radius: $pixels;
  -moz-border-radius-topright: $pixels;
  -moz-border-radius-bottomright: $pixels;
  border-top-right-radius: $pixels;
  border-bottom-right-radius: $pixels;
}

borderRadiusLeft($pixels) {
  -webkit-border-top-left-radius: $pixels;
  -webkit-border-bottom-left-radius: $pixels;
  -moz-border-radius-topleft: $pixels;
  -moz-border-radius-bottomleft: $pixels;
  border-top-left-radius: $pixels;
  border-bottom-left-radius: $pixels;
}

/** Extendable classes **/

.clearfix {
  *zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container-width {
  width: $containerWidth;
}

.no-tap {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/** General elements **/
html {overflow-y: scroll;}

* {
	font-family: 'helvetica neue', sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  line-height: 1.4em;
}

body {
  background: $textColor;
}

.wrapper {
  width: 100%;
  background: $bgColor;
  padding-top: $gutterWidth;
  min-height: $previewHeight - $headerHeight + $gutterWidth;
}

h1, h2, h3, h4, h5, h6 {
	color: $textColor;
	font-weight: 500;
  margin-top: 0;
  margin-bottom: .75em;
}

h1, h1 i {
  font-size: 24px;
}

h2, h2 i {
  font-size: 21px;
}

h3, h3 i {
  font-size: 18px;
}

a {
	text-decoration: none;
  color: darken($navBgColor, 30%);

  &:hover {
    text-decoration: underline;
    color: $highlightColor;
  }

  &:visited {
    color: #510fad;
  }
}

ul { 
	list-style: none; 
}

/** Abstractions **/
.container {
  @extend .clearfix
  max-width: 1280px
  margin: 0 auto;
  padding: 0 $gutterWidth;
  transition: margin 0.3s ease-out;
}

.social {
  padding-left: 0;
  margin: auto;
  display: inline-block;
  line-height: $headerHeight;
  /** magic number **/
}

.social__item {
  display: inline-block;
  margin-right: 1em;
}

.social__item:last-child { margin-right: 0; }

.social i {
  color: $iconColor;
}

.icon-megaphone:hover { color: $highlightColor; }
.icon-mail:hover { color: #f33; }
.icon-twitter:hover { color: #2daae1; }
.icon-github:hover { color: #3e3; }

.btn {
	-moz-box-shadow:  1px 1px 1px #777;
	-webkit-box-shadow:  1px 1px 1px #777;
	box-shadow:  1px 1px 1px #777;
  padding: 4px 4px 4px 4px;
  border: 1px solid #ccc;
	background: #ebebeb;
}

.btn:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 13px;
	margin-left: 1px;
	margin-bottom: -1px;
  margin-right: -1px;
}

.back {
  float: right;
}

.section-title {
}

/** Site header **/
.site-header {
  /** magic number because of ios bar size, how ot fix? **/
  height: $headerHeight;
  background: $navBgColor;
  border-bottom: 2px solid darken($navBgColor, 10%);
}

.profile {
  float: left;
  /** magic **/
  margin-top: 4px;
  margin-bottom: 4px;
}

.profile__img {
  border: 2px solid darken($navBgColor, 30%);
  borderRadius(4px);
  /** magic **/
  height: 32px;
  width: 32px;
}

.my-name {
  float: left; 
  display: none;
}

.site-nav {
  display: inline-block;
  float: right;
  /** magic number **/
  line-height: $headerHeight;
}

.site-nav__link, .site-nav__link:visited {
  @extend .no-tap;
  height: 100%;
  margin-right: .75em;
  color: lighten($navBgColor, 70%);

  &:last-of-type { margin-right: 0; }

  &:hover {
    text-decoration: none;
    color: $highlightColor;
  }
}

.site-nav__link.selected, .site-nav__link.selected:visited {
  color: #fff;
  font-weight: 600;
  /** magic **/
}

/** home page **/
.welcome {
  //background: url("../pics/0.jpg") no-repeat center center;
}

.section-info {
  background: #fff;
  borderRadiusTop(8px);
  max-width 30em;
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
}

.portrait {
  margin-bottom: 1em;
  borderRadiusTop(8px);
}


/** Project previews **/
.project-previews {
  @extend .clearfix;
}

.project-previews__preview {
  @extend .no-tap;
  width: 100%;
  border-bottom: 2px solid $borderColor;
  margin-bottom: $gutterWidth;
  float: left;
  background: $contentBgColor;
  borderRadiusTop(8px);
}

.project-previews__preview__img {
  width: 100%;
  borderRadiusTop(8px);
}


/** Projects **/
.project {
  @extend .container;
  padding: 0;
}

.project__info {
  @extend .clearfix;
  margin-bottom: $gutterWidth;
  p {
    max-width: 30em;
  }
}

.project__cards__card {
  @extend .clearfix;
  width: 100%;
  background-color: $infoBgColor;
  border-bottom: 2px solid $borderColor;
  display: inline-block;
  margin-bottom: 1.5*$gutterWidth;
  borderRadiusTop(8px);
}

.project__cards__card:last-of-type {
  margin-bottom: $gutterWidth;
}

.project__cards__card__img {
  max-width: 100%;
  borderRadiusTop(8px);
}

.project__cards__card__info {
  padding: $gutterWidth;
}

/** Footer **/
.site-footer {
  border-top: 2px solid #000;
  text-align: center;
  background: $textColor;
}

/** Responsive adjustments **/

// 480+

@media (min-width: 481px) {
  .container {
    padding: 0 1em;
  }

  .project-previews__preview {
    $previewWidth = (100/2 - 1.78)%;
    width: $previewWidth;
    &:nth-of-type(2n + 1) {
      margin-right: 3.56%;
    }
  }
}

@media (min-width: 900px) {
  .container {
    padding: 0 1em;
  }

  .project-previews__preview {
    $previewWidth = (100/3 - 1.45)%;
    width: $previewWidth;

    margin-right: 2.17%;
    &:nth-of-type(2n + 1) {
      margin-right: 2.17%;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .project__cards__card__img {
    max-width: 65%;
    float: left;
    borderRadiusTop(0);
    borderRadiusLeft(8px);
  }

  .project__cards__card__info {
    float:left;
    max-width: 33%;
  }
  
}

@media (min-height: 600px) {
  .section-info {
    margin-top: 2em;
  }
}

@media (min-height: 700px) {
  .section-info {
    margin-top: 4em;
  }
}

@media (min-height: 800px) {
  .section-info {
    margin-top: 5em;
  }
}

@media (min-height: 900px) {
  .section-info {
    margin-top: 6em;
  }
}

/*
@media (min-width: 1280px) {
  .container {
    padding: 0 1em;
  }

  .project-previews__preview {
    $previewWidth = (100/4 - 1.2)%;
    width: $previewWidth;

    margin-right: 1.6%;
    &:nth-of-type(3n), &:nth-of-type(2n+1) {
      margin-right: 1.6%;
    }
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
*/
