<section id="about" class="section-info">
  <img class="portrait" src="assets/pics/hsprofile.jpg" title="Bill Ramsey"></img>
  <h1 class="section-title">I'm Bill, and this is my story.</h1>
  <p>
  I grew up in New York, but I've lived in Florida, Michigan, and Georgia as well. I studied computer science and management at Georgia Tech, worked in Atlanta for a while, then came back up to New York for <a href="http://hackerschool.com" target="_blank">hackerschool</a> and I've been here since. Along the way I've done lots of stuff, met some amazing people, made plenty of good and bad decisions, but regretted nothing.
  </p>
</section>
