<section id="hi" class="hi">
  <img class="portrait" src="assets/pics/hsprofile.jpg" title="Bill Ramsey"></img>
  <h1>Hi, I'm Bill Ramsey.</h1>
  <p>
    I make software, mostly for the web, and dabble in design. I'm deeply interested in making things easier to understand and helping others to do so.
  </p>
</section>
