<section id="welcome" class="section-info">
  <img class="portrait" src="assets/pics/hsprofile.jpg" title="Bill Ramsey"></img>
  <h1>Hi, I'm Bill Ramsey.</h1>
  <h3>
  I make <a href="projects.html">software</a>, mostly mobile and web apps.</h3><p>I'm deeply interested in making things that are useful and easy to understand, and I enjoy helping others to do the same.
  </p>
  <p>If you'd like to work together on a project, <a href="mailto:bill_at_billiamram.com" target="_blank" title="Email">email</a> is a good way to reach me, but if you'd just like to chat, <a href="http://twitter.com/billiamram" target="_blank" title="Twitter">twitter</a> is wonderful.</p>
</section>
