<section id="welcome" class="welcome">
  <div class="welcome__info">
    <img class="portrait" src="assets/pics/hsprofile.jpg" title="Bill Ramsey"></img>
    <h1>Hi, I'm Bill Ramsey.</h1>
    <p>
    I make <a href="projects.html">software</a>, mostly for the web.</p><p>I also experiment with product and interaction design. I'm deeply interested in making things that are useful and easy to understand, and I enjoy helping others to do the same.
    </p>
  </div>
</section>
