<section id="projects" class="projects">
  <div class="project-previews group">
    {{#projectItems}}
    <a class="project-previews__preview" href="{{id}}.html">
      <img class="project-previews__preview__img" src="{{cover_url}}" alt="{{title}}"></img>
    </a>
    {{/projectItems}}
  </div>
</section>
