<section id="projects" class="projects">
  <h1 class="section-title">Projects</h1>
  <div class="project-previews">
    {{#projectItems}}
    <a class="project-previews__preview" href="{{id}}.html">
      <img class="project-previews__preview__img" src="assets/pics/{{id}}_cover.png" alt="{{title}}"></img>
    </a>
    {{/projectItems}}
  </div>
</section>
