.project, .preview {
  width: 284px;
  height: 259px;
}

.maximized {
  width: 288px;
  height: inherit;
}

.maximized .card img {
  float: none;
  max-width: 288px;
}

.maximized .card-info {
  float: none;
  width: 256px;
}

.container {
  width: 304px;
}
