html {overflow-y: scroll;}

* {
	font-family: 'helvetica neue', sans-serif;
	padding: 0;
	margin: 0;
  font-size: 16px;
}

body {
  background: #ccc;
	//background: url("../pics/textures/gplay.png"); 
}

a:hover {
	text-decoration: underline;
  color: #333;
}

nav a, .project-previews__preview {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav a:hover {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 288px;
}

nav {
  float: right;
  margin-right: 1.5em;
}

nav li {
  float: left;
  font-size: 28px;
  margin-right: 2px;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 500;
  margin-bottom: 12px;
}

h1, h1 i {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a {
	text-decoration: none;
}

.page-header {
  margin-bottom: 18px;
}

.project-previews {
  margin-left: -16px;
}

.cards {
  height: 100%;
}

.card {
  width: 100%;
  background-color: #ebebeb;
}

.preview-img {
  width: 100%;
}

.project-previews__preview {
  border-bottom: 2px solid #999;
}

.project-previews__preview {
  width: 316px;
  height: 282px;
  margin-left: 16px;
  margin-bottom: 16px;
  float: left;
  background: #fff;
}

.project {
  width: 288px;
  background: #ccc;
  //background-color: #f8f5e1;
}

.project-info {
  margin-bottom: 32px;
}

.maximized .card {
  //margin-bottom: 16px;
  //height: 443px;
  height: inherit;
  //width: 924px;
  width: inherit;
  display: inline-block;
	//background: url("../pics/textures/lined_paper.png"); 
  margin-bottom: 32px;
}

.maximized .card img {
  float: left;
  max-width: 657px;
  //height: 100%;
}

	//-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	//box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	//-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;

.maximized .card-info {
  float: right;
  padding: 16px;
  width: 293px;
}


header {
  height: 44px;
  top: 0;
  background: #777;
  width: 100%;
  border-bottom: 1px solid #333;
  background: #666;
	//background: url("../pics/textures/irongrip.png"); 
}

header h1 {
  float: left; 
  font-size: 24px;
  display: none;
}

ul { 
	list-style: none; 
}

li {
  margin-right: 1em;
}

.icons {
  float: left;
}

.icons li {
  float: left;
  margin-right: 18px;
}

.icons i {
  color: #222;
}

.email:hover { color: #f33; }
.twitter:hover { color: #2daae1; }
.github:hover { color: #3e3; }

nav i {
  margin-right: 4px;
}

.group:before, .group:after {
  content: "";
  display: table;
}

.group { *zoom: 1; }
.group:after { clear:both; }

#profile {
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

#profile img {
  border: 2px solid #333;
  height: 32px;
  width: 32px;
}

#profile img, .btn, .maximized, .card {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.selected a, .selected a:visited {
  color: #333;
}

li:last-child { margin-right: 0; }

.btn {
	-moz-box-shadow:  1px 1px 1px #777;
	-webkit-box-shadow:  1px 1px 1px #777;
	box-shadow:  1px 1px 1px #777;
  padding: 4px 4px 4px 4px;
  border: 1px solid #ccc;
}

.btn:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 13px;
	margin-left: 1px;
	margin-bottom: -1px;
  margin-right: -1px;
}

.btn {
	background: #ebebeb;
}

.back {
  float: right;
}
