/** General elements **/
html {overflow-y: scroll;}

* {
	font-family: 'helvetica neue', sans-serif;
  font-size: 16px;
}

body {
  background: #ccc;
	//background: url("../pics/textures/gplay.png"); 
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
}

h1, h1 i {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
  color: #333;
}

ul { 
	list-style: none; 
}

/** Abstractions **/
.container {
  margin: auto;
  width: 288px;
}

.btn, .project__cards__card {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.social {
  float: left;
  padding-left: 16px;
}

.social__item {
  display: inline-block;
}
.social__item:last-child { margin-right: 0; }

.social i {
  color: #222;
}

.icon-mail:hover { color: #f33; }
.icon-twitter:hover { color: #2daae1; }
.icon-github:hover { color: #3e3; }

.group:before, .group:after {
  content: "";
  display: table;
}

.group { *zoom: 1; }
.group:after { clear:both; }

.btn {
	-moz-box-shadow:  1px 1px 1px #777;
	-webkit-box-shadow:  1px 1px 1px #777;
	box-shadow:  1px 1px 1px #777;
  padding: 4px 4px 4px 4px;
  border: 1px solid #ccc;
	background: #ebebeb;
}

.btn:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 13px;
	margin-left: 1px;
	margin-bottom: -1px;
  margin-right: -1px;
}

.back {
  float: right;
}

/** Site header **/
.site-header {
  height: 44px;
  background: #666;
  margin-bottom: 18px;
	//background: url("../pics/textures/irongrip.png"); 
}

.profile {
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

.profile__img {
  border: 2px solid #333;
  height: 32px;
  width: 32px;
}

.my-name {
  float: left; 
  font-size: 24px;
  display: none;
}

.site-nav__link, .project-previews__preview {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.site-nav__link:hover {
  text-decoration: none;
}

.site-nav__link .selected, .site-nav__link .selected:visited {
  color: #333;
}


/** Project previews **/
.project-previews {
  margin-left: -16px;
}

.project-previews__preview {
  border-bottom: 2px solid #999;
  width: 316px;
  height: 282px;
  margin-left: 16px;
  margin-bottom: 16px;
  float: left;
  background: #fff;
}

.project-previews__preview__img {
  width: 100%;
}


/** Projects **/
.project {
  width: 288px;
  background: #ccc;
}

.project__info {
  margin-bottom: 32px;
}

.project__cards__card {
  background-color: #ebebeb;
  display: inline-block;
  margin-bottom: 32px;
}

.project__cards__card__img {
  max-width: 100%;
}

.project__cards__card__info {
  padding: 16px;
  width: 256px;
}


/** extra stuff to keep **/

/*
background-color: #f8f5e1;

-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
*/
