.project, .preview {
  width: 356px;
  height: 324px;
}

.maximized {
  width: 736px;
  height: inherit;
}

.maximized .card img {
  float: left;
  max-width: 471px;
}

.maximized .card-info {
  float: left;
  width: 200px;
}

.container {
  width: 752px;
}
