.project, .preview {
  width: 212px;
  height: 193px;
}

.maximized {
  width: 448px;
  height: inherit;
}

.maximized .card img {
  float: none;
  max-width: 416px;
}

.maximized .card-info {
  float: none;
  width: 384px;
}
