* {
	font-family: 'Georgia', serif;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}

body {
	background: #fff;
}

a:visited { color: #00e; }

.container {
	margin-top: 2em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;	
  text-align: center;
}

#hi {
	//-webkit-box-shadow: 8px 8px 8px #ccc;
	margin: auto;
	width: 920px;
	z-index: 999;
}

#hi, section {
	min-height: 768px;
}

#about {
	
	background: url("../pics/0.JPG") no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	
	//background: #f69;
	
	-moz-box-shadow: inset 0 0 5px 5px #888;
	-webkit-box-shadow: inset 0 5px 5px #888;
	box-shadow: inset 0 5px 5px #888;
}

#about > .container {
	width: 27em;
	padding-top: 4.5em;
}

#about > div > h1, #about > div > p {
	color: #333;
}

#work {
	background: #0f0;
	-moz-box-shadow: inset 0 0 5px 5px #888, inset 0 -5px 5px #888;
	-webkit-box-shadow: inset 0 5px 5px #888, inset 0 -5px 5px #888;
	box-shadow: inset 0 5px 5px #888, inset 0 -5px 5px #888;
	
	
	background: url("../pics/graph.png") repeat; 
}

#contact {
}

nav {
  clear: both;
  margin: auto;
  width: 537px;
}

nav ul {
  margin-left: 10px;
}

li {
	font-size: 1.4em;
	line-height: 2.1em;
}

*, h1, h2, h3, h4, h5, h6, a, span {
	font-family: 'helvetica neue', serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 300;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
  color: #333;
}

p { 
	margin-top: .75em; 
	color: #444;
	//display: none;
}

#projects {
	//width: 480px;
	display: inline-block;
	position: relative;
}

.project {
	margin-bottom: 1.5em;
	
	background: #fff;
	
	padding: 24px;
	float: left;
	
	margin-right: 4em;
	min-height: 447px;

	
	box-shadow: 0 2px 2px #818181;
	-webkit-box-shadow: 0 2px 2px #818181;
	-moz-box-shadow: 0 2px 2px #818181;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=2, offY=2, positive=true);
}

.project > p {
	color: #444;
	margin: 1.5em;
}

p {
	width: 27em;
}

h3 { margin-left: .75em; }

h2 {
	margin-bottom: .5em;
	-webkit-transition-property: background;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	-moz-transition-property: background;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
}

h1 {
	font-size: 4.5em;
}

#hi > div > h1 {
	font-size: 4.5em;
  margin-left: -18px;
  margin-bottom: 10px;
  clear: both;
}

#work > div > h1 {
	text-shadow: 0px 2px 3px #fff;
}


ul { 
	list-style: none; 
	margin-left: 5px;
}

li {
  float: left;
  margin-right: 1em;
}


#contact {
	background: #ebebff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3df), to(#3cd));
	color: #fff;
	min-height: 680px;
}

#contact > div > h1 { color: #444; }

#form {
	margin-top: 1em;
}

input, textarea {
	font-size: 1.2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input, textarea {  
    padding: 9px;  
    border: solid 1px #ebebeb;  
    outline: 0;   
    width: 200px;  
    background: #FFFFFF;  
	box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;
}

input:hover, textarea:hover, input:focus, textarea:focus {  
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 8px;  
}

textarea {  
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
}

.actions input[type=submit] { 	
    width: 150px; 
    color: #eee; 
    margin-top: 10px;
    background-color: #18a5cc;
    border: none;

	-webkit-transition: -webkit-box-shadow 0.3s linear;

	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
	background:  -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc); 

}

.actions input[type=submit]:hover {
	-webkit-box-shadow: 0px 0px 8px #555;
    -moz-box-shadow: 0px 0px 8px #555; 
    box-shadow: 0px 0px 8px #555;		
    cursor:  pointer;
}


.input {
	margin-bottom: .5em;
}

.prev, .next {
	height: 96px;
	width: 96px;
	//margin: 1em;
	position: absolute;
	z-index: 999;
	top: 170px;
	font-size: 4em;
	font-family: Verdana;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	cursor:  pointer;
	color: #555;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#ccc)); 
	background:  -moz-linear-gradient(25% 75% 90deg,#ebebeb, #ccc);
}

.prev {
	left: -124px;
}

.next {
	right: -34px;
}


.prev { display: none; }

.icons {
  clear: both;
  width: 212px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 4em;
}

.icons li {
  font-size: 32px;
  float: left;
  margin-right: 20px;
}

li:last-child { margin-right: 0; }

.icons i {
  color: #222;
}

.email:hover { color: #f33; }
.twitter:hover { color: #2daae1; }
.github:hover { color: #3e3; }

nav i {
  margin-right: 4px;
}

img {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after { clear:both; }
.group { *zoom: 1; }
