* {
	font-family: 'Georgia', serif;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}

body {
	background: #fff;
	
}

#container {
	margin: auto;
	margin-top: 50px;
	width: 740px;
	//background: #fff;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	//border: 1px solid #ccc;
	
}

h1, h2, h3, h4, h5, h6, a, span {
	font-family: 'helvetica neue', serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 500;
}

a {
	text-decoration: none;
}

h2 > a {
	color: #444;
	font-size: 1.5em;
}


a:hover {
	text-decoration: underline;
}

h2 > a:hover {
	text-decoration: none;
}

p { 
	margin-top: .75em; 
	color: #333;
	//display: none;
}

#projects {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	//margin-left: 1.5em;
	position: relative;
}

.project {
	//width: 26em;
	margin-bottom: 1.5em;
	min-height: 40px;
	min-width: 140px;
}

.project {
	margin-left: 1em;
	display: inline-block;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding: 24px;
}

.project > p {
	color: #444;
	//display: none;
	width: 19em;
}

h2 {
	margin-bottom: .5em;
	-webkit-transition-property: background;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	-moz-transition-property: background;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
}

h1 {
	font-weight: 300; 
	font-size: 8.7em;
	//margin-bottom: .75em;
	margin-left: .24em;
	color: #444;
}

ul { 
	list-style: none; 
}

#privacyparrot {
	margin-top: 1.5em;
}

#privacyparrot > h2 > a {
	//color: #3dc;
	//background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3cb), to(#4ed));
}

#minifylist > h2 > a {
	//color: #39c;
	//background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52e), to(#64f));
}

#contact {
	background: #f63;
	color: #fff;
	display: none;
}

#privacyparrot > h2:hover, #minifylist > h2:hover {
	background: #ccc;
}