* {
	font-family: 'Georgia', serif;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}

body {
	background: #fff;
}

a:visited { color: #00f; }

.container {
	margin: auto;
	//margin-top: .5em;
	width: 720px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;	
}

#hi {
	//-webkit-box-shadow: 8px 8px 8px #ccc;
	z-index: 999;
}

#hi, section {
	min-height: 768px;
}

#work {
	background: #ebebeb;
	-moz-box-shadow: inset 0 0 5px 5px #888;
	-webkit-box-shadow: inset 0 5px 5px #888;
	box-shadow: inset 0 5px 5px #888, inset 0 -5px 5px #888;
}

#contact {
}

nav {
	width: 240px;
	float: left;
}

li {
	font-size: 1.4em;
	line-height: 2.1em;
}

*, h1, h2, h3, h4, h5, h6, a, span {
	font-family: 'helvetica neue', serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
	font-weight: 300;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p { 
	margin-top: .75em; 
	color: #444;
	//display: none;
}

#projects {
	width: 480px;
	float: left;
	position: relative;
}

.project {
	margin-bottom: 1.5em;
}

.project {
	display: block;
}

.project > p {
	color: #444;
	//display: none;
	width: 27em;
}

h2 {
	margin-bottom: .5em;
	-webkit-transition-property: background;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	-moz-transition-property: background;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
}

h1 {
	font-size: 4.5em;
}

#hi > div > h1 {
	font-size: 9.96em;
}



ul { 
	list-style: none; 
	margin-left: .6em;
}


#contact {
	background: #3cd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3df), to(#3cd));
	color: #fff;
}

#contact > div > h1 { color: #444; }

input[type=text], input[type=email], textarea {
	font-size: 1.4em;
	padding: .2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.input {
	margin-bottom: .5em;
}
