<div id="{{project.id}}" class="project">
  <div class="project__info group">
    <a class="back" href="projects.html">Back</a>
    <h2>{{project.title}}</h2>
    {{#project.demo_url}}
    <h3><a href="{{project.demo_url}}" target="_blank">Try it out</a></h3>
    {{/project.demo_url}}
    <p>{{project.description}}</p>
  </div>
  <div class="project__cards">
    {{#project.cards}}
    <div class="project__cards__card group">
      <img class="project__cards__card__img" src="{{img_url}}" alt="{{title}}"></img>
      <div class="project__cards__card__info">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    {{/project.cards}}
  </div>
</div>
